<div class="card">
  <div class="card-header">Desafio N 5</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Curso de backEnd</p>
      <footer class="blockquote-footer">
        Alamo Gastón
        <cite title="Source Title">Comisión 32165 </cite>
      </footer>
    </blockquote>
  </div>
</div>
