<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item <% if (current == `home`) { %> active <% } %>">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item <% if (current == `ingreso`) { %> active <% } %>">
          <a class="nav-link" href="/new">Nuevo ingreso</a>
        </li>
        <li class="nav-item <% if (current == `vista`) { %> active <% } %>">
          <a class="nav-link" href="/productos">Vista</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
