#ENVIRONMENT
ENVIRONMENT = development

#PORT
PORT = aca va el PORT

#SQL
SQL_HOST = 127.0.0.1
SQL_USER = "Usuario"
SQL_PASSWORD = ""
SQL_DATABASE = "nombre de dataBase"

#SECRET
COOKIES_SECRET = "contraseña de COOKIES_SECRET"

#MONGODB
MONGO_URI = "[mongodb+srv://"nombre":"contraseña"@"nombre cuenta".mongodb.net/?retryWrites=true&w=majority]" // Este es para mongo atlas por internet
URL_MONGO = "[mongodb+srv://"nombre":"contraseña"@"nombre cuenta".mongodb.net/?retryWrites=true&w=majority]" // Este es para mongo atlas por internet
#SQLite3

